{% extends 'base.html' %} {% block title%} Выход из аккаунта - Molin7 {% endblock %} {% block content %}
<section id="logout-section">
	<h1 class="logout__title">Выйти из аккаунта</h1>
<p class="logout__text">Вы действительно хотите выйти из своего аккаунта?</p>
<form method="post">
	{% csrf_token %}
	<div class="logout-form">
		<button class="logout__confirm" type="submit">Да, выйти</button>
		<a class="logout__cancel" href="{% url 'home' %}">Отмена</a>
	</div>
</form>
{% endblock %}

</section>