{% extends 'base.html' %} {% block title %} Чат с пользователем {{ other_user }} - Molin7 {% endblock %} {% load static %} 
{% block content %}
<main>
	<div class="chat-section">
		<div class="chat-container">
			<div class="messages-list" id="messages-container">
				<button id="load-more" class="load-more-btn">Загрузить предыдущие сообщения</button>
	
				{% for message in messages %}
				<div class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
					<div class="message-wrap">
						<p class="sender">{{message.sender}}:</p>
						<p>{{ message.content }}</p>
					</div>
					<small>{{ message.timestamp|date:"H:i" }}</small>
				</div>
				{% endfor %}
			</div>
	
			<form method="post" class="message-form">
				{% csrf_token %}
				<input class="input__message" type="text" name="content" placeholder="Введите сообщение..." />
				<button class="send__message" type="submit">Отправить</button>
			</form>
		</div>
	</div>
</main>
{% endblock %}
