@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "normalize.css";
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

input:focus,
textarea:focus {
	outline: 0;
}

a,
button {
	font-weight: 400;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}

body {
	overflow-x: hidden;
	position: relative;
	color: #000;
	font-family: "Montserrat";
	font-weight: 400;
	background: #fff;
	--nav-vertical-size: 100px;
}
body.active-body {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 36px;
}

a,
button {
	color: #000;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}

ul li,
ol li {
	list-style: none;
}

.container {
	max-width: 1150px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: textfield;
}

#header-section {
	padding: 18px 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	font-weight: 500;
	font-size: 32px;
	line-height: 100%;
	text-align: center;
	color: #000;
	font-family: "Poppins";
}
.header__logo span {
	color: #38cb89;
}

.menu__body {
	display: flex;
	align-items: center;
	gap: 40px;
}
@media (max-width: 768px) {
	.menu__body {
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}
}

.menu__link,
.menu__item,
.menu__button {
	font-weight: 500;
	font-size: 17px;
	line-height: 171%;
	color: #6c7275;
	font-family: "Montserrat", sans-serif;
	transition: color 0.4s ease-in-out;
}
.menu__link:hover,
.menu__button:hover {
	color: #141718;
}
@media (max-width: 768px) {
	.menu__link,
	.menu__button {
		font-size: 24px;
	}
}

.menu__button {
	color: #38cb89;
}
.menu__button:hover {
	color: #0e9158;
}
@media (max-width: 768px) {
	.menu__button {
		display: flex;
		justify-content: center;
	}
}

.header__profile {
	width: 30px;
}

.header__buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}
@media (max-width: 768px) {
	.header__buttons {
		margin-left: auto;
	}
}

.home__btn {
	margin-top: 0;
}

.cart {
	width: 32px;
}

.menu-icon {
	display: none;
}
@media (max-width: 768px) {
	.menu-icon {
		display: block;
		width: 30px;
		height: 18px;
		position: relative;
		z-index: 99999;
		cursor: pointer;
		margin-left: 15px;
	}
}
.menu-icon span {
	transition: all 0.3s ease-in-out;
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
}
.menu-icon span:first-child {
	top: 0;
}
.menu-icon span:last-child {
	top: auto;
	bottom: 0;
}
.menu-icon._active span {
	transform: scale(0);
}
.menu-icon._active span:first-child {
	transform: rotate(-45deg);
	top: calc(50% - 1px);
}
.menu-icon._active span:last-child {
	transform: rotate(45deg);
	bottom: calc(50% - 1px);
}

@media (max-width: 768px) {
	.menu {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 80%;
		display: flex;
		overflow: auto;
		padding: 20px 0;
		background-color: #f3f5f7;
		z-index: 5;
		transition: left 0.4s ease-in-out;
	}
	.menu._active {
		left: 0;
	}
}

@media (max-width: 992px) {
	.menu__link,
	.menu__button {
		font-size: 15px;
	}
	.menu__body {
		gap: 25px;
	}
}
.hero-info {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.hero__title {
	font-weight: 500;
	font-size: 44px;
	line-height: 158%;
	letter-spacing: -0.04em;
	color: #141718;
	font-family: "Montserrat", sans-serif;
}
.hero__title span {
	color: #6c7275;
}

.hero__text {
	max-width: 450px;
	font-weight: 600;
	font-size: 16px;
	line-height: 162%;
	color: #6c7275;
}
.hero__text span {
	color: #343839;
}

@media (max-width: 992px) {
	.hero__title {
		font-size: 30px;
	}
	.hero__text {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.hero-info {
		flex-direction: column;
	}
	.hero__title {
		text-align: center;
	}
	.hero__text {
		text-align: center;
	}
}
#categories-section {
	padding: 30px 0;
}

.categories-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.categories__wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.categories-block {
	background-color: #f3f5f7;
	padding: 30px;
}

.categories-block__title {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 34px;
	line-height: 112%;
	letter-spacing: -0.02em;
	color: #141718;
}

.categories-block__subtitle {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.03em;
	color: #141718;
	position: relative;
	transition: all 0.4s ease-in-out;
}
.categories-block__subtitle::after {
	position: absolute;
	content: "";
	right: -25px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url(../../public/favicon/arrow-right.svg) no-repeat;
}
.categories-block__subtitle:hover {
	text-decoration: underline;
}

@media (max-width: 480px) {
	.categories-wrapper {
		flex-direction: column;
	}
}
#new-section {
	padding: 30px 0;
	overflow: hidden;
}

.new {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.new__title {
	margin-bottom: 48px;
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: #000;
}

.new__link {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.03em;
	color: #141718;
	position: relative;
	transition: all 0.4s ease-in-out;
	right: 25px;
}
.new__link::after {
	position: absolute;
	content: "";
	right: -25px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url(../../public/favicon/arrow-right.svg) no-repeat;
}
.new__link:hover {
	text-decoration: underline;
}

.new-slide {
	padding: 10px;
	position: relative;
	cursor: pointer;
}

.new-slide__title {
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0px;
}

.new__price {
	margin-right: 12px;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0px;
}

.old {
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 0px;
	text-decoration: line-through;
	color: #6c7275;
}

.new__text {
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0px;
	top: 20px;
	left: 20px;
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
}

.new__percent {
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0px;
	top: 50px;
	left: 30px;
	background-color: #38cb89;
	padding: 5px;
	color: #fff;
	border-radius: 10px;
}

.swiper-wrapper {
	display: inline-flex;
}

@media (max-width: 480px) {
	.new__title {
		font-size: 34px;
	}
}
@media (max-width: 390px) {
	.new {
		flex-direction: column;
	}
	.new__title {
		text-align: center;
		margin-bottom: 20px;
	}
	.new__link {
		right: 0;
	}
}
#pluses-section {
	padding: 48px;
}

.pluses-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.pluses-block {
	padding: 48px 32px;
	background-color: #f3f5f7;
	width: 262px;
	height: 220px;
}

.pluses__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
}

.pluses__subtitle {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: #6c7275;
}

@media (max-width: 1200px) {
	.pluses__title {
		font-size: 16px;
	}
	.pluses__subtitle {
		font-size: 12px;
	}
}
@media (max-width: 992px) {
	.pluses-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 480px) {
	.pluses-block {
		padding: 24px 16px;
		height: 154px;
	}
}

#articles-section {
    padding-bottom: 48px;
}

.recomendation-main {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.articles__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: 0em;
    color: #000000;
}

.articles__btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.articles__link {
    transition: all .4s ease-in-out;
}

.articles__btn svg {
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.articles__btn:hover .articles__link {
    color: #2da871;
}

.articles__btn:hover svg {
    color: #2da871;
}

@media (max-width: 1200px) {
	.buy {
		flex-direction: column;
	}
	.buy-info {
		order: 1;
	}
	.buy__img {
		order: 2;
	}
	.buy__title {
		text-align: center;
	}
	.buy__subtitle {
		text-align: center;
	}
	.buy__link {
		left: 43%;
	}
}
@media (max-width: 480px) {
	.buy__title {
		font-size: 34px;
	}
	.buy__subtitle {
		font-size: 16px;
	}
	.buy__link {
		left: 34%;
	}
}
#footer-section {
	padding: 80px 0 32px;
	background-color: #141718;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 64px;
}

.footer__logo {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0px;
	/* Molin7 */
	color: #fff;
	position: relative;
}
.footer__logo span {
	color: #38cb89;
}
.footer__logo::after {
	position: absolute;
	content: "";
	right: -32px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 24px;
	background-color: #6c7275;
}

.footer-logo__text {
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 0px;
	color: #e8ecef;
}

.footer__list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.footer__link {
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 0px;
	/* External/Neutral/01/100% */
	color: #fefefe;
	transition: color 0.4s ease-in-out;
}
.footer__link:hover {
	color: #38cb89;
}

.footer-copyright {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	gap: 28px;
}

.footer__copyright {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	letter-spacing: 0px;
	/* External/Neutral/03/100% */
	color: #e8ecef;
}

.footer-copyright__text {
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	/* External/Neutral/01/100% */
	color: #fefefe;
	transition: color 0.4s ease-in-out;
}
.footer-copyright__text:hover {
	color: #38cb89;
}

@media (max-width: 992px) {
	.footer {
		flex-direction: column;
		gap: 20px;
	}
}
@media (max-width: 768px) {
	.footer-wrapper {
		flex-direction: column;
		gap: 10px;
	}
	.footer-copyright {
		flex-direction: column;
		gap: 10px;
	}
}
@media (max-width: 480px) {
	.footer__list {
		flex-direction: column;
		gap: 10px;
	}
	.footer-logo {
		flex-direction: column;
		gap: 15px;
	}
	.footer__logo::after {
		display: none;
	}
	#footer-section {
		padding: 40px 0 32px;
	}
}
#search-section {
	padding: 80px 0;
}

.search {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.filters__title {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	position: relative;
	padding-left: 25px;
}

.filters-details {
	cursor: pointer;
	position: relative;
}
.filters-details span {
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	width: 15px;
	height: 2px;
	background: #000;
}
.filters-details span:first-child {
	top: 16px;
}
.filters-details span:last-child {
	top: auto;
	bottom: 0;
}
.filters-details span:nth-child(2) {
	top: 26px;
}

.filters__text {
	font-size: 18px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
}

.filters-price__input {
	background-color: #f2f1f0;
	outline: none;
	border: none;
	padding: 10px 40px 10px 15px;
	border-radius: 10px;
	width: 107px;
	font-size: 14px;
	font-weight: 500;
	color: #848483;
}
.filters-price__input::-moz-placeholder {
	font-size: 14px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #848483;
}
.filters-price__input::placeholder {
	font-size: 14px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #848483;
}

.filters-source__input {
	background-color: #f2f1f0;
	outline: none;
	border: none;
	padding: 10px 40px 10px 15px;
	border-radius: 10px;
	width: 230px;
	font-size: 14px;
	font-weight: 500;
	color: #848483;
}

.checkbox-wrapper,
.filters-sertification__wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.filters__status {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filters-status__text {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.4px;
	color: #141718;
}

input[type="checkbox"] {
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	background-color: #f2f1f0;
	outline: none;
	border: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="checkbox"]::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00c";
	color: #fff;
	display: none;
}

input[type="checkbox"]:hover {
	background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
	background-color: #38cb89;
}

input[type="checkbox"]:checked::after {
	display: block;
}

.filters-author__input {
	background-color: #f2f1f0;
	outline: none;
	border: none;
	padding: 10px 40px 10px 15px;
	border-radius: 10px;
	width: 230px;
	font-size: 14px;
	font-weight: 500;
	color: #848483;
}

.filters__sertification {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filters-sertification__text {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.4px;
	color: #141718;
}

.filters-description__input {
	background-color: #f2f1f0;
	outline: none;
	border: none;
	padding: 10px 40px 10px 15px;
	border-radius: 10px;
	width: 230px;
	font-size: 14px;
	font-weight: 500;
	color: #848483;
}

.filters-important {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filters-important__text {
	font-size: 14px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #141718;
}

.filters__button {
	margin-top: 20px;
	background: #38cb89;
	padding: 8px 35px;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: -0.4px;
	color: #ffffff;
	border-radius: 15px;
	transition: background 0.4s ease-in-out;
}
.filters__button:hover {
	background: #24b372;
}

.catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-self: baseline;
}

.filters {
	min-width: 230px;
}

.search-menu {
	display: flex;
	align-items: center;
}

.catalog__search {
	position: relative;
	width: 720px;
	opacity: 1;
	box-sizing: border-box;
	border: 1px solid #38cb89;
	padding: 10px 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.catalog__search_btn {
	font-size: 14px;
	font-weight: 500;
	line-height: 20.5px;
	padding: 10px 20px;
	letter-spacing: -0.4px;
	color: #ffffff;
	background: #38cb89;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	transition: background 0.4s ease-in-out;
}
.catalog__search_btn:hover {
	background: #24b372;
}

.search-wrapper {
	margin-left: 25px;
	margin-top: 20px;
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	flex-wrap: wrap;
	/* gap: 10px; */
}

@media (max-width: 1200px) {
	.catalog__search {
		width: 625px;
	}
}
@media (max-width: 992px) {
	.catalog__search {
		width: 450px;
	}
	.new-slide {
		padding: 0px;
	}
}
@media (max-width: 768px) {
	.search {
		flex-direction: column;
	}
	.catalog__search {
		width: 450px;
	}
}
@media (max-width: 540px) {
	.catalog__search {
		width: 400px;
	}
}
@media (max-width: 480px) {
	.search-wrapper {
		justify-content: center;
	}
	.catalog__search {
		width: 300px;
	}
}
@media (max-width: 390px) {
	.search-wrapper {
		justify-content: center;
	}
	.catalog__search {
		width: 250px;
	}
}
#cabinet-section {
	padding: 75px 0 200px;
}

.cabinet-wrapper {
	display: flex;
	/* justify-content: space-between; */
	gap: 100px;
}

.profile__myad {
	display: flex;
	flex-direction: column;
}

.cabinet-profile {
	display: flex;
	flex-direction: column;
}

.profile-ad__title {
	font-size: 30px;
	margin-top: 10px;
}

.profile-ad__price {
	font-size: 20px;
	margin-top: 10px;
}

.profile-swiper {
	justify-content: flex-start;
	gap: 15px;
	flex-wrap: wrap;
}

.profile-slide {
	gap: 15px;
	display: flex;
	flex-direction: column;
}

.cabinet-profile__name {
	font-size: 24px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #000000;
	position: relative;
}
.cabinet-profile__name::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 1px;
	background-color: #d9d9d9;
}

.cabinet-profile_myads {
	display: flex;
	flex-direction: column;
}

.cabinet-profile__title {
	font-size: 16px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #000000;
}

.cabinet-profile__item {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: #38cb89;
}

.cabinet-profile__link {
	color: #38cb89;
	transition: color 0.4s ease-in-out;
}
.cabinet-profile__link:hover {
	color: #289262;
}

@media (max-width: 992px) {
	.cabinet-wrapper {
		flex-direction: column;
	}
	.cabinet-profile__name::after {
		display: none;
	}
	.cabinet-profile__img {
		width: 170px;
		height: 170px;
	}
	.cabinet-profile {
		justify-content: center;
		align-items: center;
	}
}
#item-page-section {
	padding: 40px 0 200px;
}

.itempage-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.itempage__title {
	margin-bottom: 0;
}

.itempage-path__list {
	margin: 36px 0 21px;
	display: flex;
	align-items: center;
	gap: 32px;
}

.itempage-path__item {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0px;
	/* External/Black/600 */
}

.itempage-path__link {
	color: #605f5f;
	transition: color 0.4s ease-in-out;
	position: relative;
}
.itempage-path__link::after {
	position: absolute;
	content: "";
	right: -22px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: url(../../public/img/arrow-right.png) no-repeat;
}

.itempage-path__link::after:last-child {
	display: none;
}
.itempage-path__link:hover {
	color: #363636;
}

.itempage-path__link .active {
	color: #000;
}

.item-info__title {
	font-size: 40px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #000000;
}

.item-info__favorite {
	margin: 7px 0 17px;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.4px;
	background: #f2f1f0;
	color: #848483;
	padding: 7px 13px 7px 43px;
	position: relative;
	display: inline-block;
	border-radius: 15px;
	transition: all 0.4s ease-in-out;
}
.item-info__favorite:hover {
	background: #cacaca;
}
.item-info__favorite::before {
	position: absolute;
	content: "";
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	background: url(../../public/img/heart.png) no-repeat;
}

.item-card {
	display: flex;
	gap: 60px;
}

.item-seller__price {
	margin-bottom: 60px;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #000000;
	/* 14 000.00 */
	font-family: Poppins;
	font-weight: 500;
	font-size: 40px;
}

.item-seller__btn {
	font-size: 24px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #ffffff;
	background: #38cb89;
	padding: 9px 66px;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
	display: block;
	margin: 0 auto;
}
.item-seller__btn:hover {
	background: #2daf75;
}

.seller-info {
	margin-top: 26px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seller-info__name {
	font-size: 24px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #000000;
	text-align: center;
}

.description__date {
	font-size: 20px;
}

.itempage-description {
	margin-top: 48px;
}

.description__title {
	font-size: 32px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #000000;
}

.description__text {
	font-size: 20px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	color: #605f5f;
}

.btns {
	display: flex;
	gap: 10px;
}

.delete__ad {
	background-color: red;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
}

.edit__ad {
	background-color: green;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
}

.delete-ad-section,
#logout-section,
#createad-section,
#updatead-section {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.delete-ad__title,
.logout__title,
.createad__title,
.updatead__title {
	text-align: center;
	margin-bottom: 10px;
}

.createad-form,
.updatead-form {
	margin: 0 auto;
}

.form-control__title,
.form-control__desc,
.form-control__price {
	margin-bottom: 10px;
	padding: 5px 10px;
	border-radius: 10px;
	outline: none;
	background: #FFFFFF;
box-sizing: border-box;
border: 1px solid #EFF0F6;
/* External/Input/Default */
box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
}

/* .form-control__file {
	width: 150px;
	text-align: center;
	background-color: green;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
	outline: none;
	border: none;
} */

.delete-ad__confirm,
.logout__text {
	text-align: center;
}

.form-control__file {}

.delete-ad__form,
.logout-form,
.createad-wrap,
.updatead-wrap {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	margin-top: 10px;
}

.delete-ad__btn,
.logout__confirm,
.createad__cancel,
.updatead__cancel {
	width: 150px;
	background-color: red;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
	outline: none;
	border: none;
	text-align: center;
	cursor: pointer;
}

.delete-ad__btn_cancel,
.logout__cancel,
.createad__confirm,
.updatead__confirm {
	width: 150px;
	text-align: center;
	background-color: green;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
	outline: none;
	border: none;
	cursor: pointer;
}

.profile__img {
	width: 400px;
	height: 400px;
}

@media (max-width: 1200px) {
	.item-seller__btn {
		font-size: 20px;
	}
}
@media (max-width: 992px) {
	.item-seller__btn {
		line-height: 30px;
	}
}
@media (max-width: 768px) {
	.item-card {
		flex-direction: column;
	}
	.item-seller__price {
		text-align: center;
		margin-bottom: 20px;
	}
	.item-seller__btn {
		margin: 0 auto;
		display: block;
	}
	.description__text {
		font-size: 18px;
	}
	.itempage-path__list {
		flex-wrap: wrap;
		row-gap: 10px;
	}
	.filters-details {
		display: none;
	}
	.itempage__search {
		width: 400px;
		margin: 0 auto;
	}
}
@media (max-width: 480px) {
	.description__title {
		font-size: 26px;
	}
	.description__text {
		font-size: 16px;
	}
}
#account-section {
	background: #f3f5f7;
}

.reg-page {
	background: #f3f5f7;
}

.register-page {
	display: flex;
	align-items: center;
	gap: 88px;
}

.account {
	background: #f3f5f7;
}

.account-img__logo {
	margin-top: 32px;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0px;
	/* Molin7 */
	color: #000000;
}

.account-register__title {
	margin-bottom: 24px;
	font-size: 40px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.4px;
	/* External/Neutral/07/100% */
	color: #141718;
}

.account-register__undertitle {
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0px;
	/* Уже есть аккаунт? */
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 32px;
}

.undertitle__link {
	color: #38cb89;
}

.input-wrap {
	display: flex;
	flex-direction: column;
}

.input__field {
	width: 350px;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: normal;
	line-height: 26px;
	letter-spacing: 0px;
	/* External/Neutral/04/100% */
	color: #000;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #e8ecef;
	outline: none;
	background: transparent;
}

.register__btn {
	margin-top: 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.4px;
	color: #ffffff;
	padding: 10px 40px;
	border-radius: 8px;
	opacity: 1;
	/* External/Neutral/07/100% */
	background: #141718;
	transition: all 0.4s ease-in-out;
	float: right;
}
.register__btn:hover {
	background: #000;
}

.account-register {
	padding-top: 100px;
}

.remember-wrap {
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: space-between;
}

.remember {
	display: flex;
	gap: 5px;
}

.remember__input {
	border: 1px solid #38cb89;
	outline: #38cb89;
}

.forgot__pass {
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0px;
	/* External/Neutral/07/100% */
	color: #141718;
} /*# sourceMappingURL=style.css.map */

.chat-section {
	height: 68.7vh;
	overflow: hidden;
}

.chat-container {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.send__message {
	background-color: #0e9158;
	padding: 8px;
	border-radius: 10px;
}

.input__message {
	padding: 5px;
}

.message {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.load-more-btn {
	margin-bottom: 10px;
	background-color: #6c7275;
	padding: 5px;
	border-radius: 10px;
}

.messages-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.message-wrap {
	display: flex;
	align-items: center;
	gap: 5px;
}

.sender {
	font-size: 20px;
}

.message-form {
	margin-top: 10px;
}

.about__title,
.security__title {
	font-size: 44px;
	font-weight: 500;
	margin-top: 20px;
}

.about__text,
.security__text {
	font-size: 22px;
	margin: 10px 0 40px;
}