{% extends 'base.html' %} {% block title %} Профиль пользователя {{ user }} - Molin7 {% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% block content %} {% load static %}
<main>
	<section id="cabinet-section">
		<div class="container">
			<div class="cabinet-wrapper">
				<div class="cabinet-profile">
					{% if request.user.is_authenticated and request.user == user %}
					<img class="cabinet-profile__img" src="{% static '/templates/public/img/profile.png' %}" alt="{{ user }}" />
					<p class="cabinet-profile__name">{{ user }}</p>
					<div class="cabinet-profile_myads">
						<p class="cabinet-profile__title">Мои объявления</p>
						<p class="cabinet-profile__item"><a class="cabinet-profile__link" href="#">Заказы</a></p>
						<p class="cabinet-profile__item"><a class="cabinet-profile__link" href="#">Избранное</a></p>
						<p class="cabinet-profile__item"><a class="cabinet-profile__link" href="#">Настройки</a></p>
						<p class="cabinet-profile__item"><a class="cabinet-profile__link" href="#">Уведомления</a></p>
						<p class="cabinet-profile__item"><a class="cabinet-profile__link" href="{% url 'accounts:logout' %}" style="color: red">Выйти из аккаунта</a></p>
					</div>
					{% else %}
					<img class="cabinet-profile__img" src="{% static '/templates/public/img/profile.png' %}" alt="{{}}" />
					<p class="cabinet-profile__name">{{ user }}</p>
					<p class="cabinet-profile__item"><a class="cabinet-profile__link" href="#">Написать сообщение</a></p>
					<p>Присоединился к Molin7</p>
					<p>{{ user.date_joined|date:"d b Y" }}</p>
					{% endif %}
				</div>
				<div class="cabinet-ads">
					{% if request.user == user %}
					<h4 class="cabinet-ads__myads">Мои объявления</h4>
					{% else %}
					<h4 class="cabinet-ads__myads">Объявления пользователя</h4>
					{% endif %}
					<div class="search-wrapper profile-swiper">
						<div class="swiper-slide new-slide catalog-slide profile-slide">
							{% for ad in user_ads %}
							<a class="profile__myad" href="{% url 'search:detail' ad.pk %}">
								<img class="new__img profile__img" src="{{ ad.image.url }}" alt="{{ ad.title }}" style="object-fit: cover; height: 350px" />
								<h4 class="new-slide__title catalog-slide__title profile-ad__title">{{ ad.title }}</h4>
								<span class="new__price profile-ad__price">{{ ad.price }}₽</span>
							</a>
							{% empty %} Пользователь не опубликовал ни одного объявления {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
