{% extends 'base.html' %} {% block title%} Создание - Molin7 {% endblock %} 
{% block content %}
<section id="createad-section">
  <h1 class="createad__title">Создать новое объявление</h1>
  <form class="createad-form" method="post" enctype="multipart/form-data">
    {% csrf_token %} {% autoescape off %} {{ form.as_p }} {% endautoescape %}
    <div class="createad-wrap">
		<input class="createad__confirm" type="submit" value="Создать" />
    <a class="createad__cancel" href="{% url 'search:index' %}">Отмена</a>
	</div>
  </form>
</section>
{% endblock %}
