{% extends 'base.html' %} {% block title %} {{ ad.title }} - Molin7 {% endblock %} {% block content %} {% load static %}

<main>
	<section id="item-page-section">
		<div class="container">
			<div class="itempage-wrap">
				<div class="itempage">
					<div class="filters-details">
						<span></span><span></span><span></span>
						<h2 class="filters__title itempage__title">Фильтры</h2>
					</div>
				</div>
				<div class="search-menu itempage__search">
					<input class="catalog__search" type="text" />
					<button class="catalog__search_btn">Найти</button>
				</div>
			</div>
			<ul class="itempage-path__list">
				<li class="itempage-path__item"><a class="itempage-path__link" href="{% url 'home' %}">Главная</a></li>
				<li class="itempage-path__item"><a class="itempage-path__link" href="{% url 'search:index' %}">Каталог</a></li>
				<li class="itempage-path__item"><a class="itempage-path__link active" href="#">{{ ad.title }}</a></li>
			</ul>
			<div class="item-card">
				<div class="item-info">
					<h4 class="item-info__title">{{ ad.title }}</h4>
					<a class="item-info__favorite" href="#">Добавить в избранное</a>
					<div class="item-info__img">
						<img class="item-info__img" src="{{ ad.image.url }}" alt="{{ ad.title }}" style="width: 400px" />
						{% comment %}
						<div class="item-info__additional">
							<img src="{% static '/templates/public/img/item-img__small.png' %}" alt="#" />
							<img src="{% static '/templates/public/img/item-img__small.png' %}" alt="#" />
							<img src="{% static '/templates/public/img/item-img__small.png' %}" alt="#" />
						</div>
						{% endcomment %}
					</div>
				</div>
				<div class="item-seller">
					<p class="item-seller__price">{{ ad.price }}₽</p>
					<button class="item-seller__btn">Написать сообщение</button>
					<div class="seller-info">
						<a href="{% url 'accounts:profile' ad.user.id %}">
							<img class="seller-info__img" src="{% if ad.user.profile.avatar %}{{ ad.user.profile.avatar.url }}{% else %}{% static 'default_avatar.png' %}{% endif %}" alt="{{ ad.user }}" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%" />
							<p class="seller-info__name">{{ ad.user }}</p>
						</a>
						{% if ad.user == request.user %}
						<div class="btns">
							<a class="delete__ad" href="{% url 'search:delete_ad' ad.pk %}">Удалить объявление</a>
							<a class="edit__ad" href="{% url 'search:update_ad' ad.pk %}">Редактировать объявление</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="itempage-description">
				<h1 class="description__date">{{ ad.created_at }}</h1>
				<p class="description__title">Описание</p>
				<p class="description__text">{{ ad.description }}</p>
				<p class="description__title">Характеристики</p>
				<p class="description__text">Состояние: Б/У</p>
			</div>
		</div>
	</section>
</main>
{% endblock %}
