<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ ad.author }} - {{ ad.title }}</title>
	</head>
	<body>
		{% load static %}
		{% include 'topbar.html' %}
		<h1>{{ ad.title }}</h1>
		<img src="{{ ad.image.url }}" alt="тут должна быть картинка" height="300"/>
		<h3>{{ ad.description }}</h3>
		<h3>Цена: {{ ad.price }}₽</h3>
		<h3>Автор: {{ ad.author }}</h3>
		<h3>Категория: {{ ad.category }}</h3>

		<a href="{% url 'search:index' %}">На главную</a>
</html>
