<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Search main</title>
	</head>
	<body>
		{% include 'topbar.html' %}
		<h1>Поиск объявлений!</h1>
		<ul>
			{% for ad in ad_list %}
			<li><a href="{% url 'search:detail' ad.id %}">{{ ad.title }}</a></li>
			{% endfor %}
		</ul>
		<a href="{% url 'search:create_ad' %}">Создать объявление</a>
		<a href="{% url 'home' %}">Выйти из поиска?</a>
	</body>
</html>
