<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static '/templates/src/css/style.css' %}" />
	<script type="module" src="{% static '/templates/src/js/main.js' %}"></script>
	<script src={% static '/templates/src/js/swiper.js' %}></script>
</head>

<body>
	<header>
		<header id="header-section">
			<div class="container">
				<div class="header">
					<a href={% url 'home' %}><h1 class="header__logo">Molin7<span>.</span></h1></a>
					<div class="header__navigation">
						<nav class="header__menu menu">
							<ul class="menu__body">
								<li class="menu__item"><a class="menu__link active" href={% url 'home' %}>Главная</a>
								</li>
								<li class="menu__item"><a href="{% url 'search:index' %}">Каталог</a></li>
								<li class="menu__item"><a class="menu__link" href="#">О нас</a></li>
								<li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
								<li class="menu__item"><a class="menu__button"
									   href="{% url 'search:create_ad' %}">Разместить объявление</a></li>
							</ul>
						</nav>
					</div>
					<div class="header__buttons">
						{% if request.user.is_authenticated %}
						<a href="{% url 'accounts:profile' user.pk %}"><img class="header__profile" src="{% static '/templates/public/favicon/profile.svg' %}" alt="profile_icon"></a>
						{% else %}
						<a href="{% url 'accounts:login' %}"><img class="header__profile" src="{% static '/templates/public/favicon/profile.svg' %}" alt="profile_icon"></a>
						{% endif %}
						<a href="#"><img class="header__profile cart" src="{% static '/templates/public/favicon/cart.svg' %}" alt="cart_icon"></a>
					</div>
					<div class="menu-icon">
						<span></span><span></span><span></span>
					</div>
				</div>
			</div>
		</header>
		<main>{% block content %}{% endblock %}</main>
		<footer id="footer-section">
			<div class="container">
				<div class="footer">
					<div class="footer-logo">
						<h1 class="footer__logo">Molin7<span>.</span></h1>
						<p class="footer-logo__text">Платформа для коллекционеров</p>
					</div>
					<ul class="footer__list">
						<li class="footer__item"><a class="footer__link" href="{% url 'home' %}">Главная</a></li>
						<li class="footer__item"><a class="footer__link" href="{% url 'search:index' %}">Каталог</a>
						</li>
						<li class="footer__item"><a class="footer__link" href="#">О нас</a></li>
						<li class="footer__item"><a class="footer__link" href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer-copyright">
					<div class="footer-wrapper">
						<p class="footer__copyright">Copyright © 2024 Molin7. All rights reserved</p>
						<a href="#" class="footer-copyright__text">Политика конфидециальности</a>
						<a href="#" class="footer-copyright__text">Правила пользования</a>
					</div>
					<div class="footer-socials">
						<a href="#"><img class="footer__social"
								 src="{% static '/templates/public/favicon/socials/3.svg' %}" alt="#"></a>
						<a href="#"><img class="footer__social"
								 src="{% static '/templates/public/favicon/socials/1.svg' %}" alt="#"></a>
						<a href="#"><img class="footer__social"
								 src="{% static '/templates/public/favicon/socials/2.png' %}" alt="#"></a>
					</div>
				</div>
			</div>
		</footer>
</body>

</html>