{% extends 'base.html' %} {% block title %} Molin7 {% endblock %} {% block content %} {% load static %}
<main>
	<section id="hero-section">
		<div class="container">
			<div class="hero">
				<img class="hero__img" src="{% static '/templates/public/img/hero.png' %}" alt="#" />
				<div class="hero-info">
					<h2 class="hero__title">
						Продажа<span>/</span>покупка <br />
						Коллекционных предметов.
					</h2>
					<p class="hero__text"><span>Molin7</span> - это платформа, где вы можете обменивать, продавать и покупать коллекционные предметы, книги и т.д.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="categories-section">
		<div class="container">
			<div class="categories-wrapper">
				<div class="categories-block">
					<h4 class="categories-block__title">Книги</h4>
					<a href="#" class="categories-block__subtitle">Посмотреть все</a>
					<img class="categories__img" src="{% static '/templates/public/img/books.png' %}" alt="#" />
				</div>
				<div class="categories__wrap">
					<div class="categories-block">
						<h4 class="categories-block__title">Монеты</h4>
						<a href="#" class="categories-block__subtitle">Посмотреть все</a>
						<img class="categories__img" src="{% static '/templates/public/img/monets.png' %}" alt="#" />
					</div>
					<div class="categories-block">
						<h4 class="categories-block__title">Фигурки</h4>
						<a href="#" class="categories-block__subtitle">Посмотреть все</a>
						<img class="categories__img" src="{% static '/templates/public/img/figurs.png' %}" alt="#" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="new-section">
		<div class="container">
			<div class="new">
				<h2 class="new__title">
					Новые <br />
					предметы
				</h2>
				<a class="new__link" href="{% url 'search:index' %}">Посмотреть все</a>
			</div>
			<div class="new__slider">
				<div class="swiper new-slider">
					<div class="swiper-wrapper">
						{% for ad in latest_ads %}
						<div class="swiper-slide new-slide">
							<a href="{% url 'search:detail' ad.pk %}">
								<img class="new__img" src="{{ ad.image.url }}" alt="{{ ad.title }}" style="width: 260px; height: 350px; object-fit: cover" />
								<h4 class="new-slide__title">{{ ad.title }}</h4>
								<span class="new__price">{{ ad.price }}₽</span>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="pluses-section">
		<div class="container">
			<div class="pluses-wrapper">
				<div class="pluses-block">
					<img class="pluses__img" src="{% static '/templates/public/favicon/pluses/1' %}.svg" alt="#" />
					<h4 class="pluses__title">Доставка по России</h4>
					<p class="pluses__subtitle">Даже в Старый Крым</p>
				</div>
				<div class="pluses-block">
					<img class="pluses__img" src="{% static '/templates/public/favicon/pluses/2' %}.svg" alt="#" />
					<h4 class="pluses__title">Доступные цены</h4>
					<p class="pluses__subtitle">Может позволить студент</p>
				</div>
				<div class="pluses-block">
					<img class="pluses__img" src="{% static '/templates/public/favicon/pluses/3' %}.svg" alt="#" />
					<h4 class="pluses__title">Безопасность</h4>
					<p class="pluses__subtitle">Всё будет хорошо</p>
				</div>
				<div class="pluses-block">
					<img class="pluses__img" src="{% static '/templates/public/favicon/pluses/4' %}.svg" alt="#" />
					<h4 class="pluses__title">Поддержка 24/7</h4>
					<p class="pluses__subtitle">Кроме среды</p>
				</div>
			</div>
		</div>
	</section>
	<section id="articles-section">
		<div class="container">
			<div class="recomendation-main">
				<h2 class="recomendation__title">Статьи</h2>
				<!-- <div class="recomendation__btn">
					<a class="recomendation__link" href="#">Посмотреть все</a>
					<svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 9.58579 3.33579 9.25 3.75 9.25L14.3879 9.25L10.2302 5.29062C9.93159 5.00353 9.92228 4.52875 10.2094 4.23017C10.4965 3.93159 10.9713 3.92228 11.2698 4.20937L16.7698 9.45937C16.9169 9.60078 17 9.79599 17 10C17 10.204 16.9169 10.3992 16.7698 10.5406L11.2698 15.7906C10.9713 16.0777 10.4965 16.0684 10.2094 15.7698C9.92228 15.4713 9.93159 14.9965 10.2302 14.7094L14.3879 10.75L3.75 10.75C3.33579 10.75 3 10.4142 3 10Z"/>
					</svg>
				</div> -->
			</div>
			<div class="articles__slider">
				<div class="swiper articles-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide articles-slide">
							<img class="slide__img" src="{% static '/templates/public/img/articles/1' %}.png" alt="#">
							<h3 class="articles__title">Путеводители по видам коллекционирования</h3>
							<p class="articles__text">Узнайте, с чего начать собирать коллекцию антикварных книг и какие издания обладают наибольшей ценностью.</p>
							<a href="#">
								<div class="articles__btn">
									<a class="articles__link" href={% url 'article1' %}>Читать больше</a>
									<svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 9.58579 3.33579 9.25 3.75 9.25L14.3879 9.25L10.2302 5.29062C9.93159 5.00353 9.92228 4.52875 10.2094 4.23017C10.4965 3.93159 10.9713 3.92228 11.2698 4.20937L16.7698 9.45937C16.9169 9.60078 17 9.79599 17 10C17 10.204 16.9169 10.3992 16.7698 10.5406L11.2698 15.7906C10.9713 16.0777 10.4965 16.0684 10.2094 15.7698C9.92228 15.4713 9.93159 14.9965 10.2302 14.7094L14.3879 10.75L3.75 10.75C3.33579 10.75 3 10.4142 3 10Z"/>
									</svg>
								</div>
							</a>
						</div>
						<div class="swiper-slide articles-slide">
							<img class="slide__img" src="{% static '/templates/public/img/articles/2' %}.png" alt="#">
							<h3 class="articles__title">Истории редких предметов и их владельцев</h3>
							<p class="articles__text">Обзор культовых вещей, которые уходили с аукционов за миллионы, и истории их владельцев.</p>
							<a href="№">
								<div class="articles__btn">
									<a class="articles__link" href={% url 'article2' %}>Читать больше</a>
									<svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 9.58579 3.33579 9.25 3.75 9.25L14.3879 9.25L10.2302 5.29062C9.93159 5.00353 9.92228 4.52875 10.2094 4.23017C10.4965 3.93159 10.9713 3.92228 11.2698 4.20937L16.7698 9.45937C16.9169 9.60078 17 9.79599 17 10C17 10.204 16.9169 10.3992 16.7698 10.5406L11.2698 15.7906C10.9713 16.0777 10.4965 16.0684 10.2094 15.7698C9.92228 15.4713 9.93159 14.9965 10.2302 14.7094L14.3879 10.75L3.75 10.75C3.33579 10.75 3 10.4142 3 10Z"/>
									</svg>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
