{% extends 'base.html' %} {% block title %} Molin7 {% endblock %} {% block content %} {% load static %}
<main>
	<section id="security-section">
        <div class="container">
            <h2 class="security__title">Ваше доверие – наш главный приоритет</h2>
            <p class="security__text">Мы понимаем, что безопасность – это основа любого успешного взаимодействия. На нашем сайте реализованы современные стандарты защиты данных, чтобы вы могли быть уверены в сохранности ваших личных и финансовых данных.</p>
            <h3 class="security__title">Что мы делаем для вашей безопасности?</h3>
            <p class="security__text">Шифрование данных
                Все передаваемые данные защищены с использованием современных протоколов шифрования (SSL/TLS), что исключает риск их перехвата третьими лицами.
                <br>
                Защита аккаунта
                Мы предлагаем многофакторную аутентификацию (MFA), которая добавляет дополнительный уровень защиты вашего профиля.
                <br>
                Мониторинг и предотвращение угроз
                Наши системы постоянно отслеживают потенциальные угрозы и защищают от попыток несанкционированного доступа.
                <br>
                Конфиденциальность данных
                Мы строго соблюдаем политику конфиденциальности и используем ваши данные только в рамках предоставления услуг. Подробнее читайте в Политике конфиденциальности.</p>
                <h2 class="security__title">Как вы можете обезопасить себя?</h2>
                <p class="security__text">Используйте уникальные и надежные пароли.
                    <br>
                    Не делитесь своими учетными данными с другими лицами.
                    <br>
                    Всегда проверяйте адрес сайта перед вводом личной информации.</p>
                    <br>
                    <h2 class="security__title">Поддержка и помощь</h2>
                    <p class="security__text">Если у вас возникли вопросы или вы заметили подозрительную активность, наша служба поддержки всегда готова помочь. Свяжитесь с нами по контактам, и мы оперативно решим любую проблему.</p>
        </div>
    </section>
</main>
{% endblock %}
